.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between items */
  padding: 20px;
}

app-product-list-item {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}
