.even-item {
  background-color: lightpink;
}

.odd-item {
  background-color: lightblue;
}
.product-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
.error-message {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}
